@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700&display=swap");
::-moz-selection {
  background-color: #E3E6F3;
  color: #000;
}
::selection {
  background-color: #E3E6F3;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 60px;
  color: #222;
}

h2 {
  font-size: 45px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 16px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

/*Header Section*/
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#mobile {
  display: none;
  align-items: center;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul li {
  padding: 0 20px;
  list-style: none;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: #508731;
}

.navbar ul li a.active::after,
.navbar ul li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #508731;
  position: absolute;
  bottom: -4px;
  left: 28px;
}

#close {
  display: none;
}

/*Header Section*/
#hero {
  background-image: url(/assets/img/hero4.png);
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0%;
  background-size: cover;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #1ABC9C;
}

#hero button {
  background-image: url(/assets/img/button.png);
  background-color: transparent;
  color: #1ABC9C;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 5px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  padding: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #1ABC9C;
  background-color: #fddde4;
  display: inline-block;
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#product1 {
  text-align: center;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro .description {
  text-align: start;
  padding: 10px 0px;
}

#product1 .pro .description span {
  color: #606063;
  font-size: 14px;
}

#product1 .pro .description h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 19px;
}

#product1 .pro .description i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .description h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #1ABC9C;
}

#product1 .pro #cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #1ABC9C;
  border-color: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/assets/img/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #fff;
  font-size: 16px;
}

#banner h2 {
  color: #fff;
  font-size: 40px;
  padding: 10px 0;
}

#banner h2 span {
  color: #ef3636;
}

#banner button:hover {
  background-color: #1ABC9C;
  color: #fff;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(/assets/img/banner/b17.jpg);
  min-width: 797px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner .banner-box2 {
  background-image: url(/assets/img/banner/b10.jpg);
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner h4 {
  color: #FFF;
  font-size: 30px;
  font-weight: 300;
}

#sm-banner h2 {
  color: #fff;
  font-size: 38px;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background-color: #1ABC9C;
  border: 1px solid #1ABC9C;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(/assets/img/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner-box h2 {
  color: #fff;
  font-weight: 900;
  font-size: 28px;
}

#banner3 .banner-box h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 20px;
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 80px;
}

#banner3 .banner-box2 {
  background-image: url(/assets/img/banner/b4.jpg);
}

#banner3 .banner-box3 {
  background-image: url(/assets/img/banner/b18.jpg);
}

#newsletter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: url(/assets/img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffdb27;
  cursor: pointer;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 60%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #1ABC9C;
  color: #fff;
  white-space: normal;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#newsletter .form {
  display: flex;
  width: 50%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 19px;
  padding-bottom: 20px;
}

footer p {
  font-size: 18px;
  margin: 0px 0px 8px 0px;
}

footer a {
  font-size: 19px;
  text-decoration: none;
  margin-bottom: 10px;
  color: #222;
  margin: 0x 0px 8px 0px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
  font-size: 16px;
}

footer .install .row img {
  border: 1PX SOLID #1ABC9C;
  border-radius: 6PX;
}

footer .install h4 {
  font-size: 19px;
}

footer .install p {
  font-size: 17px;
}

footer .install img {
  margin: 10px 0px 15px 0px;
}

footer .follow i:hover,
footer a:hover {
  color: #1ABC9C;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

#page-header {
  background-image: url(/assets/img/banner/b1.jpg);
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: #fff;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #1ABC9C;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

#pro-details {
  display: flex;
  margin-top: 20px;
  max-width: 100%;
}

#pro-details .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-grp {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#pro-details .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#pro-details .single-pro-details h4 {
  font-size: 40px;
  padding: 40px 0px 20px 0px;
  line-height: 30px;
}

#pro-details .single-pro-details h2 {
  font-size: 34px;
}

#pro-details .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#pro-details .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#pro-details .single-pro-details input:focus {
  outline: none;
}

#pro-details .single-pro-details button {
  background-color: #1ABC9C;
  color: #fff;
}

#pro-details .single-pro-details span {
  line-height: 25px;
}

/*Blog Section */
#page-header.blog-header {
  background-image: url(/assets/img/banner/b19.jpg);
}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img {
  width: 50%;
  margin-right: 20px;
}

#blog img {
  width: 80%;
  height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-details h3 {
  font-size: 30px;
}

.blog-details p {
  font-size: 20px;
}

.blog-details a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 15px;
  position: relative;
  transition: 0.3s;
}

.blog-details a:hover {
  color: #1ABC9C;
  cursor: pointer;
}

.blog-details a::after {
  content: "";
  width: 50px;
  height: 1.5px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}

.blog-details a:hover::after {
  color: #1ABC9C;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -9;
}

@media screen and (max-width: 880px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 768px) {
  .section-p1 {
    padding: 40px 40px;
  }
  .navbar ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0px 0px 10px;
    transition: all ease-in-out 0.3s;
  }
  .navbar li {
    margin-bottom: 30px;
  }
  #mobile {
    display: block;
    align-items: center;
  }
  #mobile i {
    color: #1a1a1a;
    padding-left: 10px;
  }
  .navbar ul.active {
    right: 0px;
  }
  #close {
    position: absolute;
    top: -288px;
    left: 20px;
    display: block;
  }
  #bag {
    display: none;
  }
  #hero {
    height: 70vh;
    background-position: top 30% right 30%;
    padding: 0px 80px;
  }
  #feature {
    justify-content: center;
  }
  #feature .fe-box {
    margin: 15px 15px;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
  }
  #banner {
    height: 20vh;
  }
  #banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
  }
  button.normal {
    font-size: 12px;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }
  #banner3 .banner-box {
    width: 28%;
  }
  #newsletter .form {
    width: 70%;
  }
}
@media screen and (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  h2 {
    font-size: 32px;
  }
  h1 {
    font-size: 38px;
  }
  #feature {
    justify-content: space-between;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0px 0px 15px 0px;
  }
  #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #sm-banner .banner-box {
    height: 40vh;
  }
  #sm-banner .banner-box2 {
    margin-top: 20px;
  }
  #banner3 {
    justify-content: center;
    padding: 0 20px;
  }
  #banner3 .banner-box {
    width: 100%;
  }
  #newsletter {
    height: 30vh;
    padding: 40px 20px;
  }
  #newsletter h4 {
    text-align: center;
  }
  #newsletter p {
    text-align: center;
  }
  #newsletter .form {
    width: 100%;
  }
  /*SIngle product details*/
  #pro-details {
    display: flex;
    flex-direction: column;
  }
  #pro-details .single-pro-image {
    width: 100%;
  }
  #pro-details .single-pro-details {
    width: 100%;
  }
  #pro-details .single-pro-details h4 {
    font-size: 35px;
  }
  #pro-details .single-pro-details h2 {
    font-size: 24px;
  }
  /*Blof Section Details*/
  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog .blog-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  #blog img {
    width: 100%;
  }
  #blog .blog-details {
    width: 100%;
  }
  .blog-details h3 {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */